* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

body {
  background-color: #fff;
}

.container {
  margin: 0 auto;
  height: 100vh;
  max-width: 1000px;
  padding-top: -10%;
}

main {
  height: calc(100% - 95px); /* 100% do tamanho restante da tela menos o tamanho da barra de navegação superior */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.img-container img {
  border-radius: 50%;
  width: 80%;
  max-width: 350px;
  min-width: 200px;
}

.right-container { 
  max-width: 55%;
}

.right-container p {
  font-weight: 300;
}

.right-container h2 {
  font-size: 28px;
  font-weight: 500;
}

.portfolio-imgs {
  margin: 0 auto;
}

.portfolio-imgs a {
  display: flex;
  justify-content: center;
}

.portfolio-imgs img {
  width: 80%;
  transition: all 0.3s ease 0s;
}

.portfolio-imgs img:hover {
  width: 100%;
}

.portfolio-imgs div p{
  width: 100%;
  text-align: right;
}

.portfolio-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 20px;
}

.portfolio-item p {
  font-weight: 400;
}

.profile {
  box-shadow: 1px 1px 5px 1px #333;
}